body {
  font-family: "Archivo", sans-serif;
}
.text-carousel {
  /* background: #de2d26; */
  /* width: 150px;
  height: 150px;
  margin: 0 auto; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-right: 308px;
  margin-top: -42px;
}

.carousel-content {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  margin: 0 auto;
  text-align: center;
}
.inner {
  animation: scroll 5s ease-in-out infinite;
}
.element {
  font-size: 1.1em;
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-32px);
  }
  50%,
  70% {
    transform: translateY(-64px);
  }
  75%,
  95% {
    transform: translateY(-96px);
  }
  100% {
    transform: translateY(-124px);
  }
}

.about-text h1 {
  font-size: 2.5em;
  font-family: "Archivo Black", sans-serif;
}

.about-text p {
  font-size: 1.5em;
}

.background {
  background-image: url(../img/cafegreen.jpg);
  width: 33rem;
  height: 22rem;
  background-size: cover;
}

.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  right: 26px;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 110%);
}

/* .layer {
  position: absolute;
  top: 0;
  right: 43px;
  width: 43%;
  height: 100%;
  background-color: rgba(40, 167, 69, 0.7);
} */

.about-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 15px;
}

.tabs {
  width: 100%;
  /* box-shadow: 0px 2px 15px 2px; */
  position: relative;
  /* top: 51%; */
  /* left: 50%; */
  /* height: 50%; */
  /* min-width: 450px; */
  /* transform: translate(-50%, -50%); */
}

label,
#slider {
  /* display: inline-block; */
  font-weight: bold;
  text-align: center;
  background: #28a745;
  color: #ffff;
  width: 150px;
  height: auto;
  padding: 10px 0px;
  border-radius: 3px;
}

label:hover {
  /* background: white;
  border: 2px solid #28a745;
  border-color: #28a745;
  color: #28a745; */
  cursor: pointer;
}

.tabs [type="radio"] {
  display: none;
}

.content {
  width: 100%;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  padding: 20px;
  /* box-shadow: inset 0px 5px 5px -5px; */
  display: none;
}

#slider {
  background-color: transparent;
  position: absolute;
  border-bottom: 3px solid white;
  margin: 7px 10px;
  transition: transform 0.5s;
  width: 130px;
}

[type="radio"],
#r1:checked ~ #slider {
  transform: translate(-450px, 0px);
}

[type="radio"],
#r2:checked ~ #slider {
  transform: translate(-300px, 0px);
}

[type="radio"],
#r3:checked ~ #slider {
  transform: translate(-150px, 0px);
}

[type="radio"]:checked + label {
  color: #28a745;
  background: white;
  border: 2px solid #28a745;
}

[type="radio"]:checked + label + .content {
  display: inline-block;
}

.content i.fas {
  color: green !important;
}

.fa-chevron-left {
  margin-left: -20px;
}

.fa-chevron-right {
  margin-right: -25px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 2% !important;
}

.carousel-control-prev {
  margin-left: -25px;
}

.carousel-control-next {
  margin-right: -25px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.dessert img {
  width: 250px !important;
  height: 250px !important;
}

.drink img {
  width: 150px !important;
  height: 300px !important;
}

/* #r1:checked ~ .carousel-inner .carousel-item {
  transform: translateX(0);
} */
.inners .items {
  /* transform: translateX(0) !important; */
  transition: 2s ease-in !important;
}

.cardBest {
  border-style: none !important;
  transition: transform 0.3s;
}

.cardBest:hover {
  transform: scale(1.03);
}

.button-more:focus {
  color: #28a745 !important;
  background: white !important;
  border: 2px solid #28a745 !important;
  box-shadow: none !important;
}
