@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo", sans-serif !important;
  margin: 0 !important;
  overflow-x: hidden !important;
  color: rgba(88, 86, 86, 1) !important;
}

a {
  text-decoration: none !important;
  color: #28a745 !important;
}

.btn-success {
  color: #fff !important;
}

.navbar-nav,
.navbar-brand,
.sr-only {
  color: rgba(88, 86, 86, 1) !important;
}

.nav-item {
  margin: 0 5px !important;
}

.navbar-brand {
  font-weight: bold !important;
}

.navbar-brand:hover {
  color: #28a745 !important;
}

.nav-item a:hover {
  color: rgb(10, 83, 27) !important;
  /* border-top: 2px solid #28a745; */
}

.nav-item .active,
.navbar-nav .active {
  color: rgb(10, 83, 27) !important;
  font-weight: bold !important;
}

.gradient-text {
  font-size: 3.5em !important;
  font-family: "Archivo Black";
  /* Fallback: Set a background color. */
  background-color: rgb(255, 123, 0);

  /* Create the gradient. */
  background-image: linear-gradient(50deg, #28a745, #f7f44e);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.tagline h1 {
  /* position: relative; */
  font-size: 4.3em !important;
  font-family: "Archivo Black" !important;
  /* top: 2.1em; */
  letter-spacing: 10px;
}

.tagline h2 {
  /* position: relative; */
  font-size: 1.3em !important;
  font-family: "Archivo" !important;
  /* top: 6.3em; */
  letter-spacing: 5px;
  /* left: 5px; */
}

.button-tagline {
  /* position: relative; */
  /* top: 7.5em; */
  left: 5px;
}

.text-carousel {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 1.2em;
  /* top: 3em; */
  letter-spacing: 10px;
}

.carousel-content {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: 85px;
  margin: 0 auto;
  /* text-align: center; */
}
.inner {
  animation: scroll 6s ease-in-out infinite;
}
.element {
  font-size: 1.1em;
}

@keyframes scroll {
  10%,
  25% {
    transform: translateY(0px);
  }
  40%,
  50% {
    transform: translateY(-120px);
  }
  60%,
  75% {
    transform: translateY(-240px);
  }
  80%,
  100% {
    transform: translateY(-303px);
  }
  125% {
    transform: translateY(-303px);
  }
}

#carouselhead {
  position: relative !important;
}

@media (max-width: 576px) {
  .gradient-text {
    font-size: 3.5em !important;
  }

  .text-carousel {
    width: 350px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    color: #fff;
    font-size: 0.7em;
    /* top: 3em; */
    letter-spacing: 5px;
  }

  .carousel-content {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin: 0 auto;
    /* text-align: center; */
  }

  .element {
    font-size: 1em;
  }

  .tagline h1 {
    font-size: 2.5em !important;
    font-family: "Archivo Black" !important;
    letter-spacing: 4px;
    margin-top: -30px;
  }

  .tagline h2 {
    font-size: 1em;
    letter-spacing: 2px;
  }

  @keyframes scroll {
    10%,
    25% {
      transform: translateY(0px);
    }
    30%,
    40% {
      transform: translateY(-60px);
    }
    50%,
    65% {
      transform: translateY(-120px);
    }
    80%,
    100% {
      transform: translateY(-180px);
    }
    125% {
      transform: translateY(-180px);
    }
  }
}

/* / */

.about-text h1 {
  font-size: 2.5em;
  font-family: "Archivo Black", sans-serif;
}

.about-text p {
  font-size: 1.5em;
}

/* .background {
  background-image: url(../img/cafegreen.jpg);
  width: 30rem;
  height: 19rem;
  background-size: cover;
} */

.background img:after {
  content: "";
  position: absolute;
  width: 33rem;
  height: 22rem;
  top: 0;
  left: 15px;
  right: 26px;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 110%);
}

.about-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 15px;
}

/* .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffff !important;
  background-color: #28a745 !important;
} */

.menu-nav .menu-nav-link {
  width: 100px !important;
  height: 40px !important;
  color: #ffff !important ;
  background-color: #28a745 !important;
}

.menu-nav-pills .menu-nav-link.active {
  color: #28a745 !important;
  background: white !important;
  border: 2px solid #28a745 !important;
}

.menu-nav a:hover {
  color: #28a745 !important;
  background-color: #fff !important;
  border: 2px solid #28a745 !important;
}

/*  {
  color: #28a745 !important;
  border: 2px solid #28a745 !important;
} */

.content i.fas {
  color: green !important;
}

.fa-chevron-left {
  margin-left: -20px;
}

.fa-chevron-right {
  margin-right: -25px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 2% !important;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.dessert img {
  width: 250px !important;
  height: 250px !important;
}

.drink img {
  width: 150px !important;
  height: 300px !important;
}

/* #r1:checked ~ .carousel-inner .carousel-item {
  transform: translateX(0);
} */
.inners .items {
  /* transform: translateX(0) !important; */
  transition: 2s ease-in !important;
}

.card-size {
  width: 18rem !important;
}

.cardBest {
  border-style: none !important;
  transition: transform 0.3s;
}

.cardBest:hover {
  transform: scale(1.03);
}

.button-more:focus {
  color: #28a745 !important;
  background: white !important;
  border: 2px solid #28a745 !important;
  box-shadow: none !important;
}

.items img,
.cardBest img {
  max-width: 15em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ourHappyCust {
  background-color: rgba(40, 167, 69, 0.3) !important;
  border-style: none !important;
}

.quote img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
  margin-right: 10px !important;
}

.carousel-indicators {
  position: relative !important;
  bottom: 0px !important;
  top: 10px;
}

.carousel-indicators li {
  background-color: #28a745 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px !important;
  border: none !important;
  overflow: hidden !important;
  position: relative !important;
  display: inline-block !important;
  /* margin-bottom: 100px !important; */
}

.carousel-indicators li {
}

.socmed a i:hover {
  color: #ffc107 !important;
}

hr {
  margin-top: 0 !important;
  background-color: white !important;
}

input,
textarea {
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border: 2px solid #1b6e2e !important;
}

/* col-md */
@media (min-width: 768px) {
  /* .gradient-text {
    font-size: 2.5em !important;
  } */

  /* .tagline h1 {
    font-size: 3em !important;
  }

  .tagline h2 {
    font-size: 1em !important;
  } */
}

/* col-sm */
/* @media (min-width: 576px) {
  .gradient-text {
    font-size: 2em !important;
  }
} */
